{% extends "index.html" %}

{% block content %}
<h2 class="dark:text-slate-50">Tout les Etudiants de l'université</h2>
<p class="dark:text-slate-50">Pour chaque etudiant de chaque classe et filiere, il y a son nom, son prenom et son age.</p>
<button type="button">
    <a href="{% url 'ajouteretudiant' %}" class="h-1 w-1 justify-end text-2xl">[+]</a>
</button>

<div class="overflow-x-auto dark:text-slate-50">
  <table class="table dark:text-slate-50">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Age</th>
      <th>Classe</th>
      <th>Filiere</th>
      <th>Voir</th>
    </tr>
  </thead>
      {% for etudiant in etudiants %}
  <tbody>
    <tr class="bg-base-200">
      <td>{{ etudiant.nom }}</td>
      <td>{{ etudiant.prenom }}</td>
      <td>{{ etudiant.age }}</td>
      <td>{{ etudiant.classes }}</td>
      <td>{{ etudiant.filiere }}</td>
      <td><a href="{% url 'showone' etudiant.id %}">-></a></td>
    </tr>
  </tbody>
      {% endfor %}
</table>
</div>
{% endblock %}