{% extends 'index.html' %}

{% block content %}
<div class="card">
  <img src="" alt="{{ profs.nom }}" style="width:15px; height:15px;">
  <a href="{% url 'modifierprof' profs.id %}">modifier</a>
  <h1>M. {{ profs.nom }} {{ profs.prenom }}</h1>
  <p>Professeur en {{ profs.specialite }}</p>
  <p>Dispence des cour en
  {% for classes in profs.classes.all %}
    {{ classes.niveau }}
  </p>
  {% empty %}
  <p>N'enseigne dans aucune classe</p>
  {% endfor %}
  {% for filiere in profs.filiere.all %}
  <p>Dans la filiere {{ filiere.nom }}</p>
  {% empty %}
  <p>N'enseigne dans aucune filiere</p>
  {% endfor %}
</div>
{% endblock %}