.topnav {
  height: 90px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #e9e9e9;
  overflow: hidden;
}

.topnav .search-container {
  float: right;
  margin: 10px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
