{% extends 'index.html' %}

{% block content %}
<div class="container mx-auto mt-5">
        <h1 class="text-2xl font-bold mb-4">Dashboard</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-blue-500 text-white p-5 rounded-lg shadow">
                <h2 class="text-lg font-bold">Total Etudiant</h2>
                <p class="text-2xl">{{ etudiant }}</p>
            </div>
            <div class="bg-green-500 text-white p-5 rounded-lg shadow">
                <h2 class="text-lg font-bold">Total Professeur</h2>
                <p class="text-2xl">{{ professeur }}</p>
            </div>
        </div>
    </div>
{% endblock %}