{% load static %}
{% load tailwind_tags %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/htmx.min.js' %}"></script>

<!--    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
    <title>My Administration</title>
</head>
<body>
    <div class="sidenav">
        <p class="logo"><a href="#logo">LOGO</a></p>
        <a href="{% url 'dashboard' %}" class="active:text-white active:font-bold active:bg-white active:rounded-md active:opacity-20">Acceuil</a>
        <a href="#Vuegénéral">Vue général</a>
        <a href="{% url 'etudiant:etudiant' %}">Etudiant</a>
        <a href="{% url 'professeur:professeur' %}">Professeur</a>
    </div>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">qaaaa</a>
            {% include 'Button_retour.html' %}
        </div>
        <div class="flex-none gap-2">
                <div class="form-control">
                    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
                </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img
                            alt="Tailwind CSS Navbar component"
                            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                    </div>
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between">
                            Profile
                        </a>
                    </li>
                    <li>
                        <form id="logout-form" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Déconnexion</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
</div>
      <div class="main">
        {% block content %}
        {% endblock %}
      </div>
</body>
</html>